<div id="autoresized-container-for-video" ng-style="{'width':parentContainerWidth, 'height': parentContainerHeight}">
    <div ng-transclude class="autoresized-container-for-video__container" ng-style="{'width':containerWidth, 'height': containerHeight}">
    </div>
</div>