@import "../../variables";

autoresized-container-for-video, [autoresized-container-for-video]{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  #autoresized-container-for-video{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .autoresized-container-for-video__container{
      position: relative;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      overflow: hidden;
      cursor:default;
    }

    .autoresized-container-for-video__clickable-area{
      position: relative;
      /*border: 1px solid orange;*/
      cursor: pointer;
    }
  }
}


