@import '../../reusables';
#domande-indizi{
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;width: 100%;
  transform: scale(1);

  .check-icon-indizio{
    z-index: 10;
  }

  .backdrop{
    background: rgba(255,255,255,0.6);
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    opacity: 0;
  }

  .popup-container{
    top:0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);

    &.question-popup{
      visibility: hidden;
    }
    /*&.question-popup.ng-enter {
      transition: 2s linear;
      opacity:0;
      !*animated with gsap*!
    }
    &.question-popup.ng-enter.ng-enter-active {
      opacity:1;
    }*/

    &.w70{
      width: 70%;
      right: 0;
      background: transparent;
      z-index: 30;
    }
  }
  .popup {
    height: 95%;
    width: 95%;
    background: #FFF;
    z-index: 20;
    background-image: url(../images/game/01_07/01_07_istruzioni.jpg);
    background-size: cover;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    .center-absolute;

    &.timeout {
      background-image: url(../images/game/01_07/01_07_tempo.jpg);

      .btn {
        top: 86%;
      }
    }

    &.question {
      background-image: url(../images/game/01_07/01_07_popup.jpg);
      background-position: center;

      .btn {
        top: 90%;
      }
    }

    &.feedback{
      background-image:url(../images/game/01_07/01_07_rapporto2.jpg);

      .feedback-table{
        width: 28.2%;
        top: 5%;
        height: 85.5%;
        left: 63.5%;
        position: absolute;

        .feedback-row{
          height: 19.5%;
          margin: 1.5%;
          margin-bottom: -1.2%;
          display: flex;
          flex-direction: row;

          .cell-text{
            right: 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 28%;
            height: 19%;
            justify-content: center;
            color: #FFF;
          }

          .cell-oggetto{
            width: 40%;
            height: 90%;
            top: 50%;
            transform: translate(0,-50%);
            position: relative;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;

            .check-icon{
              position: absolute;
              height: 30%;
              top: 0;
              right: 0;
            }
          }
        }
        .total-score{
          position: absolute;
          bottom: -6%;
          font-size: 1.8vw;
          color: #FFF;
          right: 22%;
        }
      }
      .btn{
        top: 90%;
        /*width: 11vw;
        height: 3vw;
        font-size: 1.5vw;*/
      }
    }

    &.end-game-sticker {
      background-image: url(../images/game/01_07/01_07_fine.jpg);
        .btn{
          top: 88%;
        }
      /*.btn {
        top: 90%;
        left: 50%;
        width: 11vw;
        height: 3vw;
        font-size: 1.5vw;
      }*/
    }
  }
  .answer{
    transition-duration: 0.3s;

    &.true, &.false{
      width: 54%;
      left: 22.5%;
      height: 11%;
      position: absolute;
    }
    &.true{
      top: 43%;
    }
    &.false{
      top: 56%;
    }
    &:hover{
      cursor: pointer;
    }
  }

  @-webkit-keyframes soft-blink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }


  .indizio{
    //transition: 0.2s;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(0, -50%);
    z-index: 5;

    &.current{
      z-index: 20;
    }
  }

  h2{
    color: green;
  }

  .wrong-objects{
    height: 200px;
    width: 80%;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    border: 1px solid green;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

}