@import '../../reusables';
#frasi-indiziati{
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;width: 100%;
  transform: scale(1);
  &.disabled{
    .indiziato{
      &:hover, &:hover:not(.selected){
        transform: scale(1);
        cursor: default;
      }
    }
  }
  .popup-container{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
  }
  .popup{
    height: 95%;
    width: 95%;
    background: #FFF;
    background-image:url(../images/game/01_11_istruzioni.jpg);
    background-size: cover;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    .center-absolute;

    &.feedback{
      background-image:url(../images/game/01_11_sfondo2.jpg);
      span{
        color: #FFF;
        position: absolute;
        bottom: 21%;
        font-size: 1.8vw;
      }
      .btn{
        top: 90%;
        width: 11vw;
        height: 3vw;
        /*left: 92%;
        width: 11vw;
        height: 3vw;
        font-size: 1.5vw;*/
      }
      .testimonianza{
        color: white;
        height: 23%;
        width: 31%;
        position: absolute;
        top: 50%;
        padding: 0.5vw;
        font-size: 2vmin;
        overflow: auto;

        @media screen and (max-width: 1024px) and (min-height: 500px){
          font-size: 1.3vmin;
        }
      }
    }

    &.timeout{
      background-image:url(../images/game/01_11_tempo.jpg);
      .btn{
        top: 86%;
      }
    }
    &.end-game-sticker{
      .btn{
        top: 91%;
        /*top: 90%;
        width: 9vw;
        height: 2vw;
        font-size: 1.2vw;*/
      }
    }
    &.end-game-sticker{
      background-image:url(../images/game/01_11_fine.jpg);
    }

    .btn{
      top: 71%;
      transform: translate(-50%);
      left: 50%;
      width: 15vw;
      height: 4vw;
      position: absolute;
      .btn-openfiber;
      &:hover{
        transform: translate(-50%) scale(1.05);
      }
    }
  }
  .answer{
    transition-duration: 0.3s;
    &:hover{
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  .indiziati-container{
    display: flex;
    flex-direction: row;
    height: 87%;
  }
  .indiziato{
    position: absolute;
    width: 30%;
    color: #FFF;
    padding:10px;
    height: 100%;
    transition: 0.2s;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 2vmin;

    p{
      @media screen and (max-width: 1024px) and (min-height: 720px){
        font-size: 1.3vmin;
      }
    }

    /*&:hover:not(.selected){
      transition: 0.3s;
      cursor: pointer;
      transform: scale(1.1);
    }*/
  }
}