@import '../../reusables';
.popup{
  .btn{
    top: 71%;
    transform: translate(-50%);
    left: 50%;
    width: 17%;
    height: 8%;
    position: absolute;
    .btn-openfiber;

    &:hover{
      transform: translate(-50%) scale(1.05);
    }
  }
}