@import '../../reusables';
#profilo{
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;width: 100%;
  transform: scale(1);

  .feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 30%;
    font-size: 2.5vmin;
    position: absolute;
    left: 45%;
    top: 56%;
    transform: translate(-50%, -50%);
  }
}