@import '../../reusables';
#selezione-indizi{
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;width: 100%;
  transform: scale(1);
  &.disabled{
    .indizio{
      &:hover, &:hover:not(.selected){
        transform: scale(1);
        cursor: default;
      }
    }
  }
  .popup-container{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.7);
  }

  .feedback-explain{
    .btn-openfiber{
      color: #FFF;
      border-radius: 4vw;
      background-color: #f10b5e;
      font-size: 3vmin;
      transition: .3s;
      transform-origin: center;
      padding: 0.1vw 0.7vw;
      margin: 0;
      outline: none;
      span:hover{
        color: #FFF;
      }
    }
  }


  .popup{
    height: 95%;
    width: 95%;
    background: #FFF;
    background-image:url(../images/game/mission1_01_04/01_04_istruzioni.jpg);
    background-size: cover;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    .center-absolute;

    &.timeout{
      background-image:url(../images/game/mission1_01_04/01_04_tempo.jpg);
      .btn{
        top: 86%;
      }
    }
    &.feedback{
      background-image:url(../images/game/mission1_01_04/01_04_rapporto.jpg);
      .btn{
        top: 50%;
        left: 92%;
        width: 11vw;
        height: 3vw;
        font-size: 1.5vw;
      }
    }


    &.end-game-sticker{
      .btn{
        top: 86%;
        /*width: 9vw;
        height: 2vw;
        font-size: 1.2vw;*/
      }
    }
    &.feedback-explain{
      background-image:url(../images/game/mission1_01_04/01_04_bacheca.jpg);
    }
    &.end-game-sticker{
      background-image:url(../images/game/mission1_01_04/01_04_fine.jpg);
    }

    .feedback-table{
      position: absolute;
      left: 35%;
      width: 49%;
      top: 1%;
      height: 91%;

      .total-score{
        bottom: -2.8vw;
        position: absolute;
        color: white;
        font-size: 1.8vw;
        left: 50%;
        transform: translate(-50%);
      }
      .feedback-row{
        &:nth-child(1){
          height: 17.6%;
        }
        &:nth-child(2){
          height: 20.5%;
        }
        &:nth-child(3), &:nth-child(4){
          height: 21%;
        }
        &:nth-child(5){
          height: 19%;
        }

        height: 20%;
        position: relative;

        @media (orientation: landscape) {
          font-size: 1.2vw;
        }
        @media (orientation: portrait) {
          font-size: 1.9vw;
        }
      }
      .check-icon{
        top: 50%;
        height: 9vmin;
        position: relative;
        transform: translate(0, -50%);
      }
      .img{
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      .cell{
        position: absolute;
        height: 90%;
        margin-top: 1%;
      }
      .cell-icon-check{
        position: absolute;
        height: 90%;
        margin-top: 1%;
      }

      /*
      img{
        height: 8vw;
        position: relative;
        left: 50%;
        transform: translate(-50%);
      }*/
    }
    .pd-horiz{
      padding: 0 1vw;
    }
  }
  .indizio{
    transition: 0.2s;
    position: absolute;
    &:hover:not(.selected){
      transition: 0.3s;
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  h2{
    color: green;
  }

  .bacheca-indizi{
    height: 84%;
    flex-wrap: wrap;
    width: 77%;
    top: 5%;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    display:flex;
    flex-direction: row;
    justify-content: center;
    img{
      height: 50%;
    }
  }

}