@import '../../reusables';
#selezione-password{
  background-image:url(../images/game/01_08/01_08_vuoto.jpg);
  height: 100%;
  width: 100%;
  background-size: contain;
  p.riprova{
    font-size: 16px;
    text-align: center;
  }
  p{
    color: #FFF;
  }
  .center-left-relative{
    left: 50%;
    position: relative;
    transform: translate(-50%);
  }
  h3{
    font-size: 30px;
    font-weight: 700!important;
    text-align: center;
  }
  .input-container{

    margin-top: 30px;
  }
  input{
    outline: none;
    border: 0;
    border-radius: 30px;
    font-size: 30px;
    padding: 4px 10px;
  }
  /* Hide the browser's default radio button */
  input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom radio button */
  .checkmark {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-image: url(../images/game/radio-empty.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
  }

  .checked .checkmark{
    background-image: url(../images/game/radio-checked.jpg);
  }

  .radio-buttons-container{
    font-size: 35px;
    color: #FFF;
    font-size: 28px;
    width: 70%;
    &>div{
      cursor: pointer;
      margin-left: 35%;
    }
  }

  .feedback{
    background: #ec3341;
    padding: 25px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(236,51,65,0.4);
    -moz-box-shadow: 0px 0px 15px 3px rgba(236,51,65,0.4);
    box-shadow: 0px 0px 15px 3px rgba(236,51,65,0.4);
    display: inline-block;
    font-size: 35px;
    .center-left-relative;
    &.correct{
      background: #1ead2d;
      -webkit-box-shadow: 0px 0px 15px 3px rgba(30,173,45,0.4);
      -moz-box-shadow: 0px 0px 15px 3px rgba(30,173,45,0.4);
      box-shadow: 0px 0px 15px 3px rgba(30,173,45,0.4);
    }
  }

  .confirm-button{
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 2px 18px;
    transform: scale(1) translate(-50%, 0);
    &:hover{
      transform: translate(-50%, 0) scale(1.05);
    }
  }
  button{
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
    border: 0;
    &:hover{
      transform: translate(0, -50%) scale(1.05);
    }
    .glyphicon{
      top: 2px;
      &:hover{
        color: white;
      }
    }
  }

  .btn-openfiber{
    font-size: 25px;
  }


}