@-webkit-keyframes timer-blinker {
  0%,65% {
    opacity: 1;
  }
  66%,100% {
    opacity: 0;
  }
}
timer{
  margin: 5vmin;
  font-size: 5vmin;
  position: absolute;
  .time-blink{
    -webkit-animation-name: timer-blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 0.7s;
  }
}
