<autoresized-container-for-video>
    <div id="domande-indizi" ng-class="{'disabled':currentState !== state.STARTED}" ng-style="{'background-image': 'url(images/game/01_07/'+backgroundImg+')'}" ng-controller="DomandeIndiziController">
        <!--<div class="indizio" ng-class="{'selected':indizio.selected}" ng-repeat="indizio in indizi" ng-style="{'height':indizio.height, 'width':indizio.height, 'left':indizio.left, 'top':indizio.top, 'background-image':'url(images/game/01_07/oggetti/'+indizio.img+')'}" ng-click="indizioClicked(indizio)">-->
        <div id="question-popup" style="width: 100%; height: 100%;position: relative;" ng-if="(currentState === state.STARTED) || (currentState === state.QUESTION_POPUP_VISIBLE)">
            <div class="backdrop"></div>
            <img class="indizio" ng-class="{'selected':indizio.selected, 'current': (indizio.id === currentIndizio.id)}" ng-repeat="indizio in indizi" ng-src="images/game/01_07/oggetti/{{indizio.img}}" alt="" ng-style="{'height':indizio.height, 'left':indizio.left, 'top':indizio.top}" style="width: auto">
        </div>
        <!--<img ng-src="images/game/check_{{indizio.givenAnswer === indizio.isCorrect ? 'giusto' : 'sbagliato'}}.png" ng-repeat="indizio in indizi" alt="" class="check-icon-indizio" ng-style="{'left':indizio.left, 'top':indizio.top}" ng-if="indizio.selected">-->
        <!--<img src="images/game/check_giusto.png" ng-repeat="indizio in indizi" alt="" class="check-icon-indizio" ng-style="{'left':indizio.left, 'top':indizio.top}" ng-if="indizio.selected">-->
        <img ng-src="images/game/check_{{indizio.givenAnswer === indizio.isCorrect ? 'giusto' : 'sbagliato'}}.png" ng-repeat="indizio in indizi" alt="" class="check-icon-indizio" ng-style="{'left':indizio.leftCheck || indizio.left, 'top':indizio.topCheck || indizio.top}" ng-if="indizio.selected && (currentState !== state.FEEDBACK_VISIBLE) && (currentState !== state.END_GAME_STICKER)">

        <!--<div class="popup-container w70 question-popup" ng-show="currentState === state.QUESTION_POPUP_VISIBLE">-->
        <div class="popup-container w70 question-popup" ng-if="currentState === state.QUESTION_POPUP_VISIBLE">
            <div class="popup question">
                <timer timer-duration="15000" time-elapsed-ms="$parent.timeElapsedMs" time-started="timerState.timeStarted" on-time-over-fn="openTimeOverPopup"></timer>
                <div class="answer true" ng-click="addScore($event, true)" ng-if="timerState.timeStarted"></div>
                <div class="answer false" ng-click="addScore($event, false)" ng-if="timerState.timeStarted"></div>
                <!--<button class="btn btn-default" ng-click="addScore($event, selectedAnswer)" ng-if="(selectedAnswer=== true) || (selectedAnswer === false)">Conferma</button>-->
            </div>
        </div>

        <div class="popup-container" ng-if="currentState === state.INSTRUCTIONS">
            <div class="popup">
                <button class="btn btn-openfiber" ng-click="startGame()" style="top:86%;">comincia</button>
            </div>
        </div>
        <div class="popup-container" ng-if="currentState === state.TIME_OVER" style="z-index:50">
            <div class="popup timeout">
                <button class="btn btn-openfiber" ng-click="closeTimeOverPopup()">continua</button>
            </div>
        </div>
        <div class="popup-container" ng-show="currentState === state.FEEDBACK_VISIBLE">
            <div class="popup feedback" ng-style="{'background-image': 'url(images/game/01_07/'+feedbackImg+')'}">
                <div class="feedback-table">
                    <div class="feedback-row" ng-repeat="indizio in progressGame">
                        <div class="cell-oggetto" ng-style="{'background-image': 'url(images/game/01_07/oggetti/'+indizio.img+')'}">
                            <!--<img ng-src="images/game/01_07/oggetti/{{indizio.img}}" alt="" />-->
                            <img class="check-icon" src="images/game/check_giusto.png" alt="">
                        </div>
                        <div class="cell-text">
                            <span style="font-size: 1.7vw;position: absolute;top: 8%;left: 24%;">
                                <strong>{{indizio.points}}</strong>
                            </span>
                            <span style="font-size: 1.7vw;position: absolute;bottom: 8%;left: 24%;">
                                {{indizio.elapsedTime/1000 | number : 2}}"
                            </span>
                        </div>
                    </div>
                    <div class="feedback-row" ng-repeat="indizio in wrongAnswers">
                        <div class="cell-oggetto" ng-style="{'background-image': 'url(images/game/01_07/oggetti/'+indizio.img+')'}">
                            <!--<img ng-src="images/game/01_07/oggetti/{{indizio.img}}" alt="" />-->
                            <img class="check-icon" src="images/game/check_sbagliato.png" alt="">
                        </div>
                        <div class="cell-text">
                            <span style="font-size: 1.7vw;position: absolute;top: 8%;left: 24%;">
                                <strong>{{indizio.points}}</strong>
                            </span>
                            <span style="font-size: 1.7vw;position: absolute;bottom: 8%;left: 24%;" ng-if="indizio.id !== 'timeout'">
                                {{indizio.elapsedTime/1000 | number : 2}}"
                            </span>
                            <span style="text-align:center;font-size: 0.8vw;position: absolute;bottom: 8%;left: 0;" ng-if="indizio.id === 'timeout'">
                                TEMPO SCADUTO!
                            </span>
                        </div>
                    </div>

                    <div class="feedback-row" ng-repeat="indizio in timeOverAnswers">
                        <div class="cell-oggetto" ng-style="{'background-image': 'url(images/game/01_07/oggetti/'+indizio.img+')'}">
                            <img class="check-icon" src="images/game/check_sbagliato.png" alt="">
                        </div>
                        <div class="cell-text">
                            <span style="font-size: 1.7vw;position: absolute;top: 8%;left: 24%;">
                                <strong>0</strong>
                            </span>
                            <span style="text-align:center;font-size: 0.8vw;position: absolute;bottom: 8%;left: 0;">
                                TEMPO SCADUTO!
                            </span>
                        </div>
                    </div>
                    <span class="total-score">{{totalScore}}</span>
                </div>
                <button class="btn btn-openfiber" ng-click="showEndGameSticker()">{{feedbackScrivaniaCount >=3 ? 'Continua' : 'Continua'}}</button>
            </div>
        </div>
        <div class="popup-container" ng-if="currentState === state.END_GAME_STICKER">
            <div class="popup end-game-sticker">
                <button class="btn btn-openfiber" ng-click="nextPage()">Continua</button>
            </div>
        </div>
    </div>
</autoresized-container-for-video>