<autoresized-container-for-video>
    <div id="frasi-indiziati" ng-class="{'disabled':currentState === state.FEEDBACK_VISIBLE}" ng-style="{'background-image': 'url(images/game/'+backgroundImg+')'}" ng-controller="FrasiIndiziatoController">
        <div class="popup-container" ng-if="currentState === state.INSTRUCTIONS">
            <div class="popup">
                <button class="btn btn-default" ng-click="startGame()">INTERROGA</button>
            </div>
        </div>
        <div class="indiziati-container" ng-show="(currentState === state.STARTED) || (currentState === state.CONFIRM_POPUP_VISIBLE) || (currentState === state.CONFIRM_POPUP_HIDDEN)">
            <timer timer-duration="30000" time-elapsed-ms="timeElapsedMs" time-started="timerState.timeStarted" on-time-over-fn="openTimeOverPopup" ng-show="timerState.timeStarted" style="color: #FFF;"></timer>
            <h3 class="center-absolute-horiz" style="color: #FFF; top: 20px;">{{title}}</h3>
            <div class="indiziato" ng-class="{'selected':indiziato.selected}" ng-repeat="indiziato in indiziati" ng-style="{'height':indiziato.height, 'width':indiziato.width, 'left':indiziato.left, 'top':indiziato.top, 'background': (selectedIndiziato && !indiziato.selected) ? 'rgba(0,0,0,0.5)' : 'transparent'}" ng-click="!selectedIndiziato && indiziatoClicked(indiziato)">
                <img ng-src="images/game/check_{{indiziato.isCorrect ? 'giusto' : 'sbagliato'}}.png" alt="" class="check-icon-indizio" style="height: 3vw;top: -4vw;right: 1vw;" ng-if="indiziato.confirmed">
                <p compile="indiziato.testimonianza" ng-if="currentState === state.STARTED || indiziato.selected"></p>
            </div>
        </div>
        <confirm-answer id="confirm-answer" class="center-absolute-horiz" on-confirm="addScore(indiziato)" on-cancel="cancel()" ng-if="currentState === state.CONFIRM_POPUP_VISIBLE"></confirm-answer>
        <div class="popup-container" ng-if="currentState === state.TIME_OVER">
            <div class="popup timeout">
                <button class="btn btn-default" ng-click="closeTimeOverPopup()">Continua</button>
            </div>
        </div>
        <div class="popup-container" ng-show="currentState === state.FEEDBACK_VISIBLE">
            <div class="popup feedback">
                <div class="testimonianza" style="
                left: 3%;">
                    <p compile="correctAnswers[0]"></p>
                </div>
                <div class="testimonianza" style="
                left: 34.7%;">
                    <p compile="correctAnswers[1]"></p>
                </div>
                <div class="testimonianza" style="
                left: 66.4%;">
                    <p compile="correctAnswers[2]"></p>
                </div>
                <span style="left: 23%;">{{progressGame3[0].points || 0}}</span>
                <span style="left: 55%;">{{progressGame3[1].points || 0}}</span>
                <span style="left: 87%;">{{progressGame3[2].points || 0}}</span>
                <span style="bottom: 13.5%;left: 62%;">{{progressGame3[0].points+progressGame3[1].points+progressGame3[2].points}}</span>
                <button class="btn btn-default" ng-click="nextPage()">Continua</button>
            </div>
        </div>
    </div>
</autoresized-container-for-video>