<autoresized-container-for-video visible-layout-height="73">
    <div id="profilo" style="background-image: url(images/game/01_13/profilo.jpg); height: 100%; width: 100%;" ng-controller="ProfiloController">
        <div class="feedback">
            <div>
                <p><strong>PUNTEGGIO: {{score}}</strong></p>
                <p>{{feedbackText}}</p>
            </div>

        </div>
    </div>
</autoresized-container-for-video>