<autoresized-container-for-video>
    <div id="selezione-password" ng-controller="SelezionePasswordController">
        <div class="center-absolute text-center" ng-if="!singleChoiceVisible">
            <h3>INSERISCI LA PASSWORD</h3>
            <p ng-if="alertMessageVisible">La password non è corretta! Riprova</p>
            <div class="input-container" style="position: relative;height: 52px;">
                <input type="text" ng-model="state.selectedPassword" ng-disabled="confirmButtonVisible">
                <button ng-if="state.selectedPassword && !confirmButtonVisible" class="btn-openfiber" style="height: 45px; width: 45px; top: 20px;" ng-click="onConfirm()"><span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>

        <div class="radio-buttons-container center-absolute" ng-if="singleChoiceVisible">
                <h3 ng-hide="state.selectedPassword">SELEZIONA LA PASSWORD</h3>
                <h4 class="feedback" ng-show="state.selectedPassword" ng-class="{'correct': isCorrect()}">{{isCorrect() ? 'PASSWORD CORRETTA!' : 'PASSWORD ERRATA!'}}</h4>
                <p class="riprova" ng-if="state.selectedPassword && !isCorrect()">La password non è corretta! Riprova</p>
            <div ng-repeat="pwd in passwordList track by $index" ng-class="{'checked': state.selectedPassword === pwd}" ng-click="onConfirm(pwd)">
                <span class="checkmark"></span> <span>{{pwd}}</span>
            </div>

            <!--<div ng-class="{'checked': state.selectedPassword === passwordList[0]}" ng-click="onConfirm(passwordList[0])">
                <span class="checkmark"></span> <span>{{passwordList[0]}}</span> {{state.selectedPassword}}
            </div>
            <div ng-class="{'checked': state.selectedPassword === passwordList[1]}" ng-click="onConfirm(passwordList[1])">
                <span class="checkmark"></span> <span>{{passwordList[0]}}</span> {{state.selectedPassword}}
            </div>
            <div ng-class="{'checked': state.selectedPassword === passwordList[2]}" ng-click="onConfirm(passwordList[2])">
                <span class="checkmark"></span> <span>{{passwordList[0]}}</span> {{state.selectedPassword}}
            </div>-->



            <!--<div ng-class="{'checked': state.selectedPassword === 'sabotatore1111'}">
                <span class="checkmark"></span>
                <input type="radio" id="pwd3" name="drone" value="sabotatore1111" ng-model="state.selectedPassword">
                <label for="pwd3">sabotatore1111</label>
            </div>-->
        </div>
        <button ng-if="confirmButtonVisible" class="btn-openfiber confirm-button" ng-click="nextPage();" >Prosegui</button>

    </div>
</autoresized-container-for-video>