<autoresized-container-for-video>
    <div id="selezione-indizi" ng-class="{'disabled':gameOver || currentState === state.FEEDBACK_EXPLAINED_VISIBLE}" ng-style="{'background-image': 'url(images/game/mission1_01_04/'+backgroundImg+')'}" ng-controller="SelezioneIndiziController">
        <img ng-if="currentState === state.STARTED" class="indizio" ng-class="{'selected':indizio.selected}" ng-repeat="indizio in indizi" ng-src="images/game/mission1_01_04/indizi/{{indizio.img}}" alt="" ng-style="{'height':indizio.height, 'left':indizio.left, 'top':indizio.top}" ng-click="indizioClicked(indizio)">


        <img ng-src="images/game/check_giusto.png" ng-repeat="indizio in indizi" alt="" class="check-icon-indizio" ng-style="{'left':indizio.left, 'top':indizio.top}" ng-if="indizio.selected && currentState === state.STARTED">
        <timer timer-duration="15000" time-elapsed-ms="timeElapsedMs" time-started="timerState.timeStarted" on-time-over-fn="openTimeOverPopup" ng-show="timerState.timeStarted"></timer>
        <div class="popup-container" ng-if="currentState === state.INSTRUCTIONS">
            <div class="popup">
                <button class="btn btn-default" ng-click="startGame()" style="top:86%;">Indaga</button>
            </div>
        </div>
        <div class="popup-container " ng-if="currentState === state.TIME_OVER">
            <div class="popup timeout">
                <button class="btn btn-default" ng-click="closeTimeOverPopup()">continua</button>
            </div>
        </div>
        <div class="popup-container " ng-show="currentState === state.FEEDBACK_VISIBLE">
            <div class="popup feedback">

                <div class="feedback-table">
                    <div class="feedback-row" ng-repeat="indizio in progressGame">
                        <div class="cell img" style="width: 21%;" ng-style="{'background-image': 'url(images/game/mission1_01_04/indizi/'+indizio.img+')'}">
                            <!--<img ng-src="images/game/indizi/{{indizio.img}}" alt="" />-->
                        </div>
                        <div class="cell" style="margin-left: 1%; width: 12%;left:22%;
                            background-image: url(images/game/check_giusto.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;">
                            <!--<img ng-src="images/game/check_giusto.png" alt="" class="check-icon">-->
                        </div>
                        <div class="cell pd-horiz" style="
                                left: 36%;display: flex;
                                flex-direction: column;
                                justify-content: center;
                        ">
                            <p>
                                <strong>SCORE: {{indizio.points}}</strong>
                            </p>
                            <p>
                                TEMPO DI SCELTA: {{indizio.elapsedTime/1000 | number : 2}}"
                            </p>
                        </div>
                    </div>

                    <div class="feedback-row" ng-repeat="indizio in wrongAnswers">
                        <div class="cell img" style="width: 21%;" ng-style="{'background-image': 'url(images/game/mission1_01_04/indizi/'+indizio.img+')'}">
                            <!--<img ng-src="images/game/indizi/{{indizio.img}}" alt="" />-->
                        </div>
                        <div class="cell-icon-check" style="margin-left: 1%; width: 12%;left:22%;background-image: url(images/game/check_sbagliato.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                        ">
                            <!--<img ng-src="images/game/check_sbagliato.png" alt="" class="check-icon">-->
                        </div>
                        <div class="cell pd-horiz" style="
                                left: 36%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;">
                            <p>
                                <strong>SCORE: {{indizio.points}}</strong>
                            </p>
                            <p ng-if="indizio.id !== 'timeout'">
                                TEMPO DI SCELTA: {{indizio.elapsedTime/1000 | number : 2}}"
                            </p>
                            <p ng-if="indizio.id === 'timeout'">
                                TEMPO SCADUTO!
                            </p>
                        </div>
                    </div>

                    <div class="feedback-row" ng-repeat="indizio in timeOverAnswers">
                        <div class="cell-icon-check" style="margin-left: 1%; width: 12%;left:22%;background-image: url(images/game/check_sbagliato.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                        ">
                            <!--<img ng-src="images/game/check_sbagliato.png" alt="" class="check-icon">-->
                        </div>
                        <div class="cell pd-horiz" style="
                                left: 36%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                        ">
                            <p>
                                <strong>SCORE: 0</strong>
                            </p>
                            <p>
                                TEMPO SCADUTO!
                            </p>
                        </div>
                    </div>
                    <span class="total-score">TOTALE: {{totalScore || 0}}</span>
                </div>
                <button class="btn btn-default" ng-click="showFeedbackExplain()">Continua</button>
            </div>
        </div>
        <div class="popup-container feedback-explain" ng-if="currentState === state.FEEDBACK_EXPLAINED_VISIBLE" style="background:transparent;">
            <div style="width: 100%;height:100%;position: absolute;background:rgba(0,0,0,0.5)">

            </div>
            <p style="position:absolute;bottom:1vw;left: 50%;z-index: 100;transform:translate(-50%)">
                <button class="btn btn-openfiber" ng-click="onPrevPolaroidClicked()" style=""><span class="glyphicon glyphicon-chevron-left"></span></button>
                <button class="btn btn-openfiber" ng-click="onNextPolaroidClicked()" style=""><span class="glyphicon glyphicon-chevron-right"></span></button>
                <button class="btn btn-openfiber" ng-if="finishButtonVisible" ng-click="finishGame()">continua</button>
            </p>


            <!--<div class="popup feedback-explain">
                <div class="bacheca-indizi">
                    <img ng-repeat="indizio in indiziFuoriPosto" ng-src="images/game/mission1_01_04/polaroid/{{indizio.img}}" alt="">
                </div>
                <button class="btn btn-default" ng-click="finishGame()">continua</button>
            </div>-->
            <img class="indizio" ng-class="{'selected':indizio.selected}" ng-repeat="indizio in indizi" ng-src="images/game/mission1_01_04/indizi/{{indizio.img}}" alt="" ng-style="{'height':indizio.height, 'left':indizio.left, 'top':indizio.top,'z-index': indiziFuoriPosto[currentPolaroidVisibleIndex].id === indizio.id ? 0 : -1}" ng-click="indizioClicked(indizio)">

            <div ng-repeat="indizio in indiziFuoriPosto" alt="" ng-if="(currentState === state.FEEDBACK_EXPLAINED_VISIBLE) && (indizio.id === indiziFuoriPosto[currentPolaroidVisibleIndex].id)" style="overflow: auto;position:absolute;height: 30%;width: 17%;    transform: translate(-21%, -100%);background: url(images/game/mission1_01_04/POSTIT.png);background-repeat: no-repeat;background-size: contain;" ng-style="{'left':indizio.left, 'top':indizio.top}">
                <p style="padding:1vw" compile="indizio.feedback"></p>
            </div>
        </div>
        <div class="popup-container" ng-if="currentState === state.END_GAME_STICKER">
            <div class="popup end-game-sticker">
                <button class="btn btn-default" ng-click="nextPage()">continua</button>
            </div>
        </div>
    </div>
</autoresized-container-for-video>