<div id="confirm-answer">
    <h4>Sei sicuro della tua scelta?</h4>
    <div>
        <button class="btn-openfiber" ng-click="onConfirm()">Conferma</button>
        <button class="btn-openfiber" ng-click="onCancel()">Scegli un altro soggetto</button>
    </div>
</div>