<div id="main" ng-class="{'hiddenLaunchPage':hideLaunchPage}" ng-controller="SezioniController" style="width: 100vw; height:100vh;background: #FFF;position: relative;background-size: cover;background-repeat: no-repeat;">
    <div id="content-fluid" class="map-relative"  style="overflow: hidden;">


        <button class="blink" style="font-size:20px;
                                        display:block;
                                        background-color: white;
                                        width: 90px;
                                        border-radius:5px;
                                        color: #930000;
                                        position: relative;
                                        left: 50%;
                                        transform: translate(-50%)"
                ng-click="start()">Start!</button>
    </div>
</div>