<div progress-bar video="App.module().lesson().page().video()" blocked="!page().isViewed()" ng-if="page().video()"></div>

<div ng-if="!page().video()" class="video-progress-placeholder"></div>

<div class="container-table" style="text-align: center">

    <div style="display:inline-block;">
        <!-- INDEX BUTTON -->
<!--        <a href="#"
           ng-class="{'active': App.module().lesson().page().subtitles().isOpened()}"
           ng-click="MenuButton.find('index').toggle()"
           ng-show="!App.module().lesson().page().test()"
           class="btn-menu btn-control"
        >
            &lt;!&ndash; <div></div> &ndash;&gt;
            <span class="glyphicon glyphicon-list"></span>
        </a>-->

        <!-- REPEAT BUTTON -->
        <a href="#" class="btn-control btn-repeat" ng-click="page().video().replay()" ng-show="page().video()">
            <!-- <div class="video-control video-repeat"></div> -->
            <span class="glyphicon glyphicon-repeat"></span>
        </a>

        <!--<div ng-text-button ng-show="page().video()"></div>-->

        <!--PLAY/PAUSE BUTTON-->
        <a href="#"
           ng-click="App.module().lesson().page().video().play()"
           ng-if="page().video() && page().video().paused()"
           id="button-play-temp"
           class="btn-control btn-play nav-hide"
        >
            <!-- <div class="video-control video-play"></div> -->
            <span class="glyphicon glyphicon-play"></span>
        </a>

        <a href="#"
           ng-click="App.module().lesson().page().video().pause()"
           ng-if="page().video() && !page().video().paused() && !page().video().ended()"
           id="button-pause-temp"
           class="btn-control btn-pause nav-hide"
        >
            <!-- <div class="video-control video-stop"></div> -->
            <span class="glyphicon glyphicon-pause"></span>
        </a>

        <!-- AUDIO -->
        <a href="#" ng-click="App.module().lesson().page().audio().play()" ng-show="page().audio() && page().audio().isPaused()"
           class="video-control-element-floatted video-control-element-floatted-center">
            <span class="video-control video-play"></span>
        </a>

        <a href="#" ng-click="App.module().lesson().page().audio().pause()" ng-show="page().audio() && !page().audio().isPaused()"
           class="video-control-element-floatted video-control-element-floatted-center">
            <span class="video-control video-stop"></span>
        </a>




        <!-- PREV BUTTON -->
        <!--<a href="#"
           id="button-prev"
           class="btn-control"
           ng-click="Page.prev()"
           ng-if="App.config().getAttr('layout').prevPage != false"
           ng-class="{
                    'nav-show': video().paused(),
                    'nav-hide': !video().paused() && !video().ended(),
                    'nav-load': !hasLoaded(),
                    'disabled':!App.hasPrevPage()
                }">
            &lt;!&ndash; <div class="video-control video-back" ng-class="{
                'disabled':!App.hasPrevPage()
            }"></div> &ndash;&gt;
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>-->

        <!-- PAGE NUMBER -->
        <!--<span
                class="btn-control video-pagenumber"
                ng-show="App.pages().length"
        >{{App.getCurrentPageNumber()}}/{{App.getMaxPageNumber()}}</span>-->

        <!-- NEXT BUTTON -->
        <a href="#"
           id="button-next"
           class="btn-control"
           ng-click="Page.next();playAudioIfExists()"
           ng-if="App.config().getAttr('layout').nextPage != false"
           ng-class="{
                    'nav-show': video().paused() || video().ended() || (!video() && page().isViewed()),
                    'nav-hide': (video() && !video().paused() && !video().ended()) || (!video() && !page().isViewed()),
                    'nav-load': !hasLoaded(),
                    'disabled': (!App.module().lesson().page().isViewed() || !App.hasNextPage())
                }">
            <!-- <div class="video-control video-forward" ng-class="{
                'disabled': (!App.module().lesson().page().isViewed() || !App.hasNextPage())
            }"></div> -->
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

        <!-- </div>
        <div class="text-center col-sm-1 hidden-xs" ng-if="page().video()"> -->
        <!--<a href="#"
           ng-click="video().requestFullscreen()"
           class="btn-control hidden-xs ng-hide"
           ng-show="page().video() && !video().isFullscreen()">
            <span class="glyphicon glyphicon-fullscreen"></span>
        </a>
        <a href="#"
           ng-click="video().exitFullscreen()"
           class="btn-control hidden-xs ng-hide"
           ng-show="page().video() && video().isFullscreen()">
            <span class="glyphicon glyphicon-resize-small"></span>
        </a>-->
    </div>
</div>

<div class="container" id="video-control-bottom"></div>